<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserRechargeMapper">

    <resultMap type="SysUserRecharge" id="SysUserRechargeResult">
        <id property="rechargeId" column="recharge_id" />
        <result property="orderNo" column="order_no" />
        <result property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="currencyType" column="currency_type" />
        <result property="rechargeMethod" column="recharge_method" />
        <result property="amount" column="amount" />
        <result property="walletId" column="wallet_id" />
        <result property="status" column="status" />
        <result property="rejectReason" column="reject_reason" />
        <result property="submitTime" column="submit_time" />
        <result property="reviewTime" column="review_time" />
        <result property="reviewUserId" column="review_user_id" />
        <result property="reviewUserName" column="review_user_name" />
        <result property="remark" column="remark" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectRechargeVo">
        select recharge_id, order_no, user_id, user_name, currency_type, recharge_method, amount,
               wallet_id, status, reject_reason, submit_time, review_time, review_user_id,
               review_user_name, remark, create_time, update_time
        from sys_user_recharge
    </sql>

    <select id="selectRechargeById" parameterType="Long" resultMap="SysUserRechargeResult">
        <include refid="selectRechargeVo" />
        where recharge_id = #{rechargeId}
    </select>

    <select id="selectRechargeList" parameterType="SysUserRecharge" resultMap="SysUserRechargeResult">
        <include refid="selectRechargeVo" />
        <where>
            <if test="rechargeId != null">
                and recharge_id = #{rechargeId}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no like concat('%', #{orderNo}, '%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name like concat('%', #{userName}, '%')
            </if>
            <if test="currencyType != null and currencyType != ''">
                and currency_type = #{currencyType}
            </if>
            <if test="rechargeMethod != null and rechargeMethod != ''">
                and recharge_method = #{rechargeMethod}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by submit_time desc, recharge_id desc
    </select>

    <insert id="insertRecharge" parameterType="SysUserRecharge" useGeneratedKeys="true" keyProperty="rechargeId">
        insert into sys_user_recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="currencyType != null and currencyType != ''">currency_type,</if>
            <if test="rechargeMethod != null and rechargeMethod != ''">recharge_method,</if>
            <if test="amount != null">amount,</if>
            <if test="walletId != null">wallet_id,</if>
            <if test="status != null">status,</if>
            <if test="rejectReason != null and rejectReason != ''">reject_reason,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="reviewTime != null">review_time,</if>
            <if test="reviewUserId != null">review_user_id,</if>
            <if test="reviewUserName != null and reviewUserName != ''">review_user_name,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="currencyType != null and currencyType != ''">#{currencyType},</if>
            <if test="rechargeMethod != null and rechargeMethod != ''">#{rechargeMethod},</if>
            <if test="amount != null">#{amount},</if>
            <if test="walletId != null">#{walletId},</if>
            <if test="status != null">#{status},</if>
            <if test="rejectReason != null and rejectReason != ''">#{rejectReason},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="reviewTime != null">#{reviewTime},</if>
            <if test="reviewUserId != null">#{reviewUserId},</if>
            <if test="reviewUserName != null and reviewUserName != ''">#{reviewUserName},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateRecharge" parameterType="SysUserRecharge">
        update sys_user_recharge
        <set>
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="currencyType != null and currencyType != ''">currency_type = #{currencyType},</if>
            <if test="rechargeMethod != null and rechargeMethod != ''">recharge_method = #{rechargeMethod},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="walletId != null">wallet_id = #{walletId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="reviewTime != null">review_time = #{reviewTime},</if>
            <if test="reviewUserId != null">review_user_id = #{reviewUserId},</if>
            <if test="reviewUserName != null and reviewUserName != ''">review_user_name = #{reviewUserName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where recharge_id = #{rechargeId}
    </update>

    <delete id="deleteRechargeById" parameterType="Long">
        delete from sys_user_recharge where recharge_id = #{rechargeId}
    </delete>

    <delete id="deleteRechargeByIds" parameterType="Long[]">
        delete from sys_user_recharge where recharge_id in
        <foreach item="rechargeId" collection="array" open="(" separator="," close=")">
            #{rechargeId}
        </foreach>
    </delete>

</mapper>
